@font-face {
    font-family: 'Merriweather-Ultra-Bold';
    src: url('assets/fonts/Merriweather-Ultra-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

/*=========== shared styles ==================*/
@media (min-width: 2000px) {
    html {
        font-size: calc(100vw * 0.005);
    }
}

@media (min-width: 1400px) and (max-width: 1999px) {
    html {
        font-size: calc(100vw * 0.009);
    }
}

@media (max-width: 1399px) and (min-width: 992px) {
    html {
        font-size: calc(100vw * 0.012);
    }
}

@media (max-width: 991px) {
    .hp-packages-container {
        padding: 0 20px;
    }

    .hp-smile-block h3 {
        font-size: 1.3rem;
        margin: 60px 0 0 0;
        text-align: center;
    }

    .container, .col-md-6 {
        padding: 0;
    }

    html {
        font-size: 16px;
    }

    .hp-prices-block .col-md-5, .hp-prices-block .col-md-7, .hp-smile-block .col-md-6 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
    }

    .hp-prices-img {
        height: 70vh !important;
        margin-top: 40px;
    }

    .hp-simple-content .col-md-6:first-child {
        margin-bottom: 30px;
    }

    .hp-link-navigation {
        padding-left: 20px !important;
    }

    .hp-smile-block .hp-travel-form-img {
        margin-top: 20px;
    }
}

@media (min-width: 992px) {
    .hp-smile-block h3 {
        font-size: 2.3rem;
        margin: 60px 20px 0 20px;
    }

    .hp-travel-block h1 {
        font-size: 4rem;
    }

    .hp-travel-block .hp-description {
        font-size: 1.3rem;
    }

    .hp-prices-block .col-md-7 {
        flex: 0 0 54%;
        max-width: 54%;
    }

    .hp-prices-block .col-md-5 {
        flex: 0 0 45%;
        max-width: 45%;
    }
}

html, body {
    height: 100%;
}

.hp-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    min-width: 360px;
}

h1, .nav-link {
    color: #D3132A;
}

@media (min-width: 1142px) {
    h1 {
        font-size: 4.6rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.9rem;
    }
}

@media (min-width: 801px) and (max-width: 1141px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.9rem;
    }

    h3 {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

    h3 {
        font-size: 1.8rem;
    }
}

h1, h2, h3 {
    font-family: 'Merriweather-Ultra-Bold', serif;
    font-weight: 900;
}

header, .nav .navbar {
    border: none;
    box-shadow: none;
}

.hp-button {
    background: #D3132A;
    padding: 20px 30px;
    color: #ffffff;
    text-decoration: none !important;
    -webkit-border-radius: 15px 0 15px 0;
    -moz-border-radius: 15px 0 15px 0;
    border-radius: 15px 0 15px 0;
}

.navbar-nav:not(.hp-navbar-right) .nav-item.active {
    color: #2d3341;
    background: #00000014;
}

.hp-button:hover, .hp-button:active {
    color: #ffffff;
}

header {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.hp-main-content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
}

footer .container {
    padding-bottom: 40px;
}

footer a {
    color: #ffffff;
    font-weight: bold;
}

footer a:hover {
    color: #f2f2f2;
}

footer .row {
    justify-content: space-between;
}

footer .hp-links-block {
    display: flex;
}

footer {
    background-color: #2d3341;
}

.bg-light {
    background: #e7eaeb !important;
}

@media (max-width: 991px) {
    .hp-links-block {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
        flex-direction: column;
        align-items: center;
    }

    .hp-links-block > div {
        width: 100%;
        text-align: center;
    }

    .hp-links-block div > a {
        font-size: 1.3rem;
        line-height: 2.8rem;
        border-bottom: 1px solid;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }

    .hp-links-block > div:last-child > a:last-child {
        border-bottom: 1px solid transparent;
    }

    footer .hp-pay-block {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0;
    }

    .hp-pay-block .fab {
        font-size: 70px;
        height: 63px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .hp-pay-block .col-md-4 {
        flex: 0 0 33%;
        max-width: 33%;
        text-align: center;
    }

    footer .row {
        margin: 0 !important;
    }
}

@media (min-width: 992px) {
    .hp-links-block {
        flex: 0 0 74%;
        max-width: 74%;
        flex-direction: row;
        border-radius: 30px 0 0 0;
    }

    footer a {
        font-size: 1.3rem;
    }

    footer .hp-pay-block {
        flex: 0 0 24%;
        max-width: 24%;
        border-radius: 0 0 30px 0;
    }

    .hp-pay-block .fab {
        font-size: 45px;
        height: 38px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    footer .hp-links-block, footer .hp-pay-block {
        background: #D3132A;
    }
}

footer .hp-links-block {
    justify-content: space-between;
    padding: 30px;
}

footer .hp-links-block > div {
    flex-direction: column;
    display: flex;
}

footer .hp-pay-block {
    justify-content: space-between;
    padding: 30px 30px 20px 30px;
}

.hp-pay-block .col-md-4 {
    margin-bottom: 10px;
}

.hp-pay-block .fab {
    background: #2d3341;
    overflow: hidden;
}

.hp-copyright {
    margin-left: 15px;
    margin-top: 20px;
}

.fab:before {
    position: relative;
    top: -3px;
}

.navbar-light .navbar-nav .nav-link, h1, .jumbotron p {
    color: #D3132A;
}

.jumbotron {
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-collapse {
    background-color: #ECF0F1;
}

/*=========== shared blocks ==================*/

@media (min-width: 992px) {
    .hp-container .container {
        padding: 80px 0;
    }
}

@media (max-width: 991px) {
    .hp-container .container {
        padding: 40px 0;
    }
}

.navbar-brand {
    background: #D3132A;
    margin: 0;
}

@media (min-width: 1292px) {
    .navbar-brand {
        padding: 20px 40px;
    }

    .navbar-brand .hp-logo {
        width: 111px;
        height: 70px;
    }
}

@media (max-width: 1291px) {
    .navbar-brand {
        padding: 22px 35px;
    }

    .navbar-brand .hp-logo {
        width: 110px;
        height: 65px;
    }
}

@media (max-width: 991px) and (min-width: 521px) {
    .navbar-brand {
        padding: 10px 25px;
    }
}

@media (max-width: 520px) {
    .navbar-brand {
        padding: 10px 0;
    }

    .hp-logo {
        width: 70px !important;
        height: 50px !important;
    }

    .hp-nav-icon {
        width: 30px !important;
        height: 30px !important;
        background-repeat: no-repeat;
        margin-right: 10px !important;
    }
}

.navbar-brand .hp-logo {
    background-image: url(assets/logo.svg);
    background-repeat: no-repeat;
}

.nav-item {
    padding: 0;
    display: flex;
}

.dropdown {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .nav-item {
        justify-content: center;
        border-bottom: 1px solid #fff;
        background: #cccccc4a;
    }
}

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown.show, .navbar-nav:not(.hp-navbar-right) .nav-item:hover {
    background: #E6132A;
    color: #ffffff;
}

.dropdown.show, .navbar-nav:not(.hp-navbar-right) .nav-item:hover,
.navbar-nav:not(.hp-navbar-right) .nav-item:hover a {
    color: #ffffff;
}

.navbar {
    padding: 0;
}

@media (max-width: 560px) {
    .row {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 991px) {
    .hp-navbar-right {
        flex-direction: row;
        justify-content: flex-start !important;
    }
}

@media (min-width: 992px) {
    .navbar-nav:not(.hp-navbar-right) {
        height: 110px;
        align-items: stretch;
        padding-left: 20px;
    }

    .navbar-nav:not(.hp-navbar-right) .nav-link {
        padding: 0 15px;
        height: 110px;
        align-items: center;
        display: flex;
    }
}

.navbar-light .navbar-toggler {
    margin-right: 20px;
    border-color: transparent;
    color: #D3132A;
}

.navbar-toggler .fa-bars {
    font-size: 24px;
}

.navbar .nav-link {
    font-size: 1rem;
}

@media (min-width: 1428px) {
    .navbar .nav-link {
        font-size: 1rem;
    }
}

@media (max-width: 991px) {
    .navbar .nav-link {
        font-size: 1.5rem;
    }
}

.hp-navbar-right {
    padding-right: 40px;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
}

@media (max-width: 1399px) {
    header .hp-navbar-right {
        display: none !important;
    }
}

.hp-mobile-navbar-right {
    display: none;
}

@media (max-width: 1400px) and (min-width: 992px) {
    .hp-mobile-navbar-right {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 40px;
    }

    .hp-mobile-navbar-right div {
        margin-left: 15px;
        margin-right: 0;
    }
}

.navbar-collapse {
    order: 4;
}

@media (max-width: 991px) {
    .navbar {
        flex-direction: row;
        flex-flow: row wrap;
        align-content: space-between;
    }

    .hp-mobile-navbar-right {
        display: flex;
        position: relative;
        left: 20px;
        order: 1;
    }

    .navbar-brand {
        order: 2;
        background: transparent;
        position: relative;
        /*left: -35px;*/
    }

    .navbar-brand .hp-logo {
        background-image: url(assets/logo-inverse.svg) !important;
    }

    .navbar-toggler {
        order: 3;
    }

}

@media (max-width: 1100px) and (min-width: 992px) {
    .navbar .nav-link {
        /*font-size: 1.1rem;*/
        padding: 8px !important;
    }
}

@media (max-width: 991px) {
    .navbar .nav-link {
        padding: 15px 25px;
    }
}

@media (min-width: 1528px) {
    .hp-navbar-right a.nav-link {
        padding: 13px 25px !important;
        margin-left: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1527px) {
    .hp-navbar-right a.nav-link {
        padding: 13px 15px !important;
        margin-left: 15px;
    }
}

.hp-navbar-right a.nav-link {
    background: #e13548;
    color: #ffffff !important;
}


.hp-navbar-right a.nav-link:hover {
    background: #D3132A;
    color: #ffffff !important;
}

.hp-navbar-right > li:nth-child(1) a {
    -webkit-border-radius: 25px 0 0 0;
    -moz-border-radius: 25px 0 0 0;
    border-radius: 25px 0 0 0;
}

.hp-navbar-right > li:nth-child(2) a {
    -webkit-border-radius: 0 0 25px 0;
    -moz-border-radius: 0 0 25px 0;
    border-radius: 0 0 25px 0;
}

/*================ ICONS =======================*/

.hp-bg-icon {
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
}

@media (min-width: 992px) {
    .hp-4columns-block {
        padding-bottom: 30px;
    }
}

.hp-4columns-block .hp-bg-icon {
    margin: 0 auto;
}

.hp-apple-icon {
    background-image: url("assets/apple-icon.svg");
}

.hp-apple-blue-icon {
    background-image: url("assets/apple-blue-icon.svg");
}

.hp-hand-icon {
    background-image: url("assets/hand-icon.svg");
}

.hp-face-icon {
    background-image: url("assets/face-icon.svg");
}

.hp-plane-icon {
    background-image: url("assets/plane-icon.svg");
}

.hp-wallet-icon {
    background-image: url("assets/wallet-icon.svg");
}

.hp-phone-icon {
    background-image: url("assets/phone-icon.svg");
}

.hp-chat-icon {
    background-image: url("assets/chat-icon.svg");
}

.hp-heart-icon {
    background-image: url("assets/heart-icon.svg");
}

.hp-like-icon {
    background-image: url("assets/like-icon.svg");
}

.hp-blue-plane-icon {
    background-image: url("assets/blue-plane-icon.svg");
}

.hp-blue-like-icon {
    background-image: url("assets/blue-like-icon.svg");
}

.hp-slippers-icon {
    background-image: url("assets/slippers-icon.svg");
}

@media (min-width: 776px) {
    .hp-step-block {
        -webkit-border-radius: 0 0 80px 0;;
        -moz-border-radius: 0 0 80px 0;
        border-radius: 0 0 80px 0;
        margin-left: 65px;
    }

}

@media (max-width: 775px) {
    .hp-step-block {
        background-size: 20%;
    }
}

@media (max-width: 645px) {
    .hp-step-block {
        background-size: 28%;
    }
}

@media (min-width: 601px) and (max-width: 775px) {
    .hp-two > div, .hp-four > div {
        padding-left: 100px !important;
    }
}

@media (max-width: 600px) {
    .hp-step-block {
        background-size: 23%;
    }

    .hp-step-icon {
        display: none;
    }

    .hp-two > div, .hp-four > div {
        padding-left: 10px !important;
    }
}

@media (max-width: 510px) {
    .hp-step-block {
        background-size: 35%;
    }
}

@media (max-width: 423px) {
    .hp-step-block {
        background-size: 50%;
    }
}

@media (max-width: 385px) {
    .hp-step-block {
        background-size: 60%;
    }
}

@media (max-width: 775px) {
    .hp-step-container {
        max-width: 100% !important;
    }

    .hp-step-container .row {
        margin: 0 !important;
    }

    .hp-number {
        display: none !important;
    }

    .hp-step-block {
        margin: 10px 0 20px 0;
        background-repeat: no-repeat;
    }

    .hp-step-block div > div {
        font-size: 1.2rem !important;
    }

    .hp-one {
        background-image: url(assets/gray-one.svg);
        background-position: -7px;
        -webkit-border-radius: 0 80px 0 0;
        -moz-border-radius: 0 80px 0 0;
        border-radius: 0 80px 0 0;
        margin-right: 35px;
    }

    .hp-two {
        background-image: url(assets/gray-two.svg);
        background-position: right;
        -webkit-border-radius: 80px 0 0 0;
        -moz-border-radius: 80px 0 0 0;
        border-radius: 80px 0 0 0;
        margin-left: 35px;
    }

    .hp-three {
        background-image: url(assets/gray-three.svg);
        background-position: -7px;
        -webkit-border-radius: 0 80px 0 0;
        -moz-border-radius: 0 80px 0 0;
        border-radius: 0 80px 0 0;
        margin-right: 35px;
    }

    .hp-four {
        background-image: url(assets/gray-four.svg);
        background-position: right;
        -webkit-border-radius: 80px 0 0 0;
        -moz-border-radius: 80px 0 0 0;
        border-radius: 80px 0 0 0;
        margin-left: 35px;
    }

    .hp-five {
        background-image: url(assets/gray-five.svg);
        background-position: -10px;
        -webkit-border-radius: 0 80px 0 0;
        -moz-border-radius: 0 80px 0 0;
        border-radius: 0 80px 0 0;
        margin-right: 35px;
    }

    .hp-two .hp-step-icon, .hp-four .hp-step-icon {
        height: 75px;
        width: 75px;
    }

    .hp-two .hp-step-icon, .hp-four .hp-step-icon {
        position: absolute;
    }
}

@media (min-width: 776px) {
    .hp-one .hp-number {
        background-image: url(assets/one.svg);
        left: -63px !important;
        height: 178px !important;
        top: -2px !important;
    }

    .hp-two .hp-number {
        background-image: url(assets/two.svg);
    }

    .hp-three .hp-number {
        background-image: url(assets/three.svg);
    }

    .hp-four .hp-number {
        background-image: url(assets/four.svg);
    }

    .hp-five .hp-number {
        background-image: url(assets/five.svg);
    }

}

.hp-nav-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.hp-msg-icon {
    background-image: url(assets/msg-icon.svg);
}

.hp-call-icon {
    background-image: url(assets/call-icon.svg);
}

/*=========== modificators ==================*/
.hp-darkblue-background {
    background: #2d3341;
}

.hp-gray-background {
    background: #ebeded;
}

.hp-red-background {
    background: #E6132A;
}

.hp-dark-red-background {
    background: #D3132A;
}

/*===================== HOMEPAGE =========================*/
/*=========== slider ==================*/

.slide {
    overflow: hidden;
}

.carousel-caption a, .carousel-caption a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 7px;
}

.carousel-item, .slide, .hp-travel-block, .hp-carousel-img {
    height: 50vh;
}

@media (orientation: portrait) and (max-width: 630px) {
    .hp-travel-block .carousel-caption h1 {
        font-size: 1.4rem;
    }

    .hp-travel-block .hp-description {
        font-size: 0.9rem;
    }
}

@media (orientation: landscape) {
    .hp-slider-block, .hp-travel-block {
        background-size: cover;
    }

    .hp-slider-block {
        height: 75vh;
    }
}

@media (orientation: portrait) and (min-width: 992px) {
    .hp-slider-block, .hp-travel-block {
        background-size: cover;
    }

    .hp-slider-block {
        height: 60vh;
    }

    .hp-travel-block, .hp-carousel-img {
        height: 55vh;
    }
}

@media (orientation: portrait) and (max-width: 991px) {
    .hp-slider-block, .hp-travel-block {
        background-size: cover;
    }

    .hp-slider-block {
        height: 70vh;
    }

    .carousel-item, .slide, .hp-travel-block, .hp-carousel-img {
        height: 70vh;
    }

}

@media (min-width: 992px) {
    .hp-mainpage-slider, .hp-index-slider {
        background-image: url(assets/slider-bg.jpg);
        background-color: #e7eaeb;
    }

    .hp-service-slider {
        background-image: url(assets/service.jpg);
    }

}

@media (max-width: 991px) {
    .hp-mainpage-slider, .hp-index-slider {
        background-image: url(assets/slider-bg-mobile.jpg);
        background-color: #e7eaeb;
    }

    .hp-service-slider {
        background-image: url(assets/service-mobile.jpg);
    }

}


.hp-travel2-block {
    background-image: url(assets/travel2.jpg) !important;
    margin-bottom: 60px !important;
}

.hp-travel-block, .hp-slider-block {
    border-radius: 0;
    margin: 0;
    background-position: right top;
    background-repeat: no-repeat;
}

@media (max-width: 575px) {
    .hp-slider-block p {
        font-size: 1.2rem;
        margin-top: 15px;
    }

    .hp-slider-block h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 575px) {
    .hp-slider-block p {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    .hp-slider-block h1 {
        font-size: 3rem;
    }
}

.hp-slider-block p {
    font-weight: 600;
}

.hp-slider-block .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.hp-container .hp-slider-title {
    text-align: center;
}

@media (max-width: 991px) {
    .hp-container .hp-slider-title h3, .hp-container .hp-slider-title p {
        color: #ffffff;
    }

    .hp-container .hp-slider-title h1 {
        color: #ffc7ce;
    }
}

.hp-container .hp-slider-title h1, .hp-container .hp-slider-title p {
    margin: 0 auto;
    max-width: 70%;
}

/*=========== 4 components block ==================*/
.hp-4columns-block h2 {
    color: #ffffff;
    padding: 0;
    margin: 0 0 20px 0;
}

.hp-4columns-block h3, .hp-unique-details h3 {
    font-size: 2.3rem;
}

.hp-unique-details {
    font-size: 1.3rem;
}

.hp-4columns-block h3 {
    width: 100%;
    text-align: center;
}

.hp-columns-block {
    justify-content: space-between;
}

.hp-column {
    background: #ffffff;
    padding: 20px;
    margin: 0;
}

@media (min-width: 1231px) {
    .hp-column {
        flex-basis: 23%;
    }

    .hp-columns-block > .hp-column:nth-child(1) {
        border-radius: 0 0 0 130px;
        -webkit-border-radius: 0 0 0 130px;
        -moz-border-radius: 0 0 0 130px;
    }

    .hp-columns-block > .hp-column:nth-child(4) {
        border-radius: 0 130px 0 0;
        -webkit-border-radius: 0 130px 0 0;
        -moz-border-radius: 0 130px 0 0;
    }

    .hp-column li, .hp-column div {
        font-size: 1rem;
    }
}

@media (max-width: 1230px) {
    .hp-column {
        flex-basis: 48%;
        margin-bottom: 30px;
    }

    .hp-column li, .hp-column div {
        font-size: 1.3rem;
    }
}

@media (max-width: 767px) {
    .hp-column {
        flex-basis: 100%;
    }
}

.hp-column-details {
    margin-bottom: 40px;
    margin-top: 20px;
}

.hp-column-details ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hp-column-details ul li {
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
}

/*=============================*/

/*============ Whats unique block =================*/

@media (max-width: 991px) {
    .hp-2columns-block .row {
        justify-content: space-between;
    }
}

@media (max-width: 991px) {
    .hp-unique-h2 {
        padding: 0 !important;
        margin: 0 0 10px 0;
    }

    .hp-2columns-block .col-md-6 {
        flex: 0 0 100% !important;
        max-width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .hp-2columns-block .row {
        margin-right: 0;
        margin-left: 0;
    }

    .hp-2columns-block .hp-bg-icon {
        margin: 20px auto;
    }

    .hp-2columns-block .row > .col-md-6:nth-child(3) {
        order: 1;
    }

    .hp-2columns-block .row > .col-md-6:nth-child(1) {
        order: 2;
    }

    .hp-2columns-block .row > .col-md-6:nth-child(2) {
        order: 3;
    }

    .hp-2columns-block .row > .col-md-6:nth-child(4) {
        order: 4;
    }

    .hp-2columns-block .row > .col-md-6:nth-child(5) {
        order: 5;
    }

    .hp-2columns-block .row > .col-md-6:nth-child(6) {
        order: 6;
    }
}

.hp-2columns-block .col-md-6 {
    flex: 0 0 48%;
    padding: 25px 25px 25px 45px;
    margin-top: 25px;
}

.hp-2columns-block .hp-unique-details {
    flex-basis: 70%;
    color: #ffffff;
    padding: 0 15px 0 0;
}

@media (max-width: 991px) {
    .hp-unique-details {
        width: 100%;
    }

    .hp-unique-h2 h2 {
        font-size: 2.3rem;
    }

    .hp-2columns-block .hp-bg-icon {
        width: 40%;
    }

    .hp-2columns-block .hp-bg-icon {
        margin: 20px auto 10px auto;
    }
}

.hp-unique-h2 {
    align-items: center;
    display: flex;
}

@media (min-width: 992px) {

    .hp-unique-h2 h2 {
        font-size: 3.3rem;
    }

    .hp-2columns-block .hp-bg-icon {
        height: 100%;
        width: 40%;
        background-position: right;
    }

    .hp-2columns-block .row {
        justify-content: space-between;
    }

    .hp-2columns-block .row > div:last-child {
        -webkit-border-radius: 0 0 120px 0;
        -moz-border-radius: 0 0 120px 0;
        border-radius: 0 0 120px 0;
    }

    .hp-2columns-block .col-md-6 {
        display: flex;
        justify-content: space-around;
    }

    .hp-unique-details {
        max-width: 70%;
    }
}

/*=============================*/

/*==============SPECIAL offer block ===============*/
.hp-special-offer-block {
    background-image: url("assets/offer.jpg");
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-top: 60px;
    background-position: bottom right;
}

@media (min-width: 992px) {
    .hp-special-offer-block {
        background-size: 60%;
    }

    .hp-special-offer-round {
        width: 400px;
        height: 400px;
    }

    .hp-special-offer-round > div {
        width: 384px;
        height: 384px;
        padding: 70px;
    }

    .hp-special-offer-round h2 {
        font-size: 1.6rem;
    }

    .hp-special-offer-round p {
        color: #ffffff;
        font-size: 1.2rem;
    }
}

@media (max-width: 991px) {
    .hp-special-offer-round p {
        color: #ffffff;
        font-size: 1.1rem;
    }

    .hp-special-offer-block {
        background-size: 100%;
        margin: 0;
    }

    .hp-special-offer-round {
        margin: 0 auto;
        width: 341px;
        height: 341px;
    }

    .hp-special-offer-round > div {
        width: 325px;
        height: 325px;
        padding: 25px;
    }

    .hp-special-offer-round h2 {
        font-size: 1.4rem;
    }
}

.hp-special-offer-round {
    padding: 8px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
}

.hp-special-offer-round h2 {
    margin-bottom: 10px;
}

.hp-special-offer-round > div {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

@media (min-width: 992px) {
    .hp-special-offer-round > div > div {
        margin-top: 20px;
    }
}

@media (max-width: 991px) {
    .hp-special-offer-round > div > div {
        margin-top: 30px;
    }
}

/*==================5 steps ===============*/

.hp-5steps-block {
    padding-bottom: 10px;
}

.hp-5steps-block h2 {
    color: #ffffff;
}

.hp-step-block {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 15px 35px;
    margin-top: 20px;
    position: relative;
}

.hp-step-block > div:nth-child(2) {
    max-width: 935px;
    min-height: 145px;
}

.hp-step-block .hp-number {
    width: 105px;
    height: 175px;
    position: absolute;
    left: -100px;
    top: 0;
    background-size: cover;
}

.hp-step-block h3 {
    font-size: 2.3rem;
}

.hp-step-icon {
    width: 125px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
}

.hp-step-block div > div {
    font-size: 1.2rem;
}

/*=====================PACKAGES BLOCK ============*/

.hp-packages-block {
    background: #2d3341;
    font-size: 1.2rem;
}

.hp-packages-block h2 {
    color: #ffffff;
}

.hp-packages-block .hp-packages-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
}

@media (min-width: 1081px) {
    .hp-packages-block .hp-package {
        width: 23%;
        padding: 30px 30px 75px 30px;
        min-height: 335px;
    }
}

@media (max-width: 1080px) {
    .hp-packages-container {
        flex-direction: column;
    }

    .hp-packages-block .hp-package {
        width: 100%;
        padding: 30px;
        min-height: 220px;
        margin-bottom: 30px;
    }
}

.hp-packages-block .hp-package {
    background-color: #ffffff;
    position: relative;
    border-radius: 0 0 0 114px;
    text-align: center;
}

.hp-package > div > div {
    border-bottom: 2px solid;
    padding-bottom: 12px;
    margin-bottom: 12px;
    line-height: 1.2;
}

.hp-package > div > div:last-child {
    border-bottom: none;
}

.hp-packages-block .hp-package:nth-child(4) {
    background-color: #E6132A;
    color: #ffffff;
}

.hp-package-star-icon {
    background-image: url("assets/star.svg");
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    top: -20px;
    right: -20px;
}

@media (max-width: 600px) {
    .hp-package-star-icon {
        position: relative;
        top: -9px;
        left: 4px;
        float: right;
    }
}

.hp-package h3 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

/*===========titles block =============*/
.hp-titles-block .container > h2 {
    padding: 0 0 30px 0;
    text-align: center;
    margin: 0 auto;
}

.hp-titles-block h2 {
    color: #E8132A;
    margin-bottom: 30px;
}

@media (min-width: 1000px) {
    .hp-titles-block h2 {
        font-size: 3.5rem;
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    .hp-titles-block h2 {
        font-size: 2.8rem;
    }
}

@media (max-width: 575px) {
    .hp-titles-block {
        padding: 0 20px;
    }

    .hp-titles-block h2 {
        font-size: 1.8rem;
    }

    .hp-titles-block h3 {
        font-size: 1.2rem;
    }
}

.hp-titles-block h3 {
    font-size: 1.6rem;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
}

/*// ABOUT PAGE*/

.hp-simple-content {
    margin-bottom: 60px;
}

@media (min-width: 992px) {
    .hp-about-h1, .hp-about-h2 {
        color: #2d3341;
        font-size: 2.5rem;
    }

    .hp-simple-content .col-md-6:nth-child(2) h2 {
        font-size: 2.2rem;
        margin: 40px;
    }

    .hp-about-h1 {
        margin-bottom: 15px;
        margin-left: -15px;
    }
}

@media (max-width: 991px) {
    .hp-about-h1, .hp-about-h2 {
        color: #2d3341;
        font-size: 2rem;
    }

    .hp-about-h1 {
        margin-left: 15px;
    }

    .hp-simple-content .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .hp-simple-content .col-md-6:nth-child(2) {
        padding: 0;
    }

    .hp-simple-content .col-md-6:nth-child(2) h2 {
        font-size: 1.4rem;
        margin: 40px 0 0 0;
        text-align: center;
    }

    .hp-simple-content .hp-about-img {
        min-height: 300px;
        height: 45vh;
    }
}

.hp-simple-content ul {
    margin: 0;
    padding: 0;
}

.hp-simple-content ul li {
    list-style: none;
}

.hp-simple-content ul li::before {
    content: ">";
    padding: 0 8px 0 0;
    font-weight: bold;
}

.hp-simple-content h5 {
    font-weight: 600;
}

.hp-simple-content .row > div {
    flex-direction: column;
    padding: 0;
}

.hp-simple-content .row > div:nth-child(1) {
    background-color: #2d3341;
    color: #ffffff;
    padding: 40px;
}

.hp-simple-content .row > div:nth-child(2) h2 {
    color: #E8132A;
    font-style: italic;
    line-height: 1.5;
}

.hp-about-img {
    background-image: url(assets/about-page.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 55%;
}

.hp-link-navigation {
    display: flex;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 1.1rem;
    padding: 20px 0;
}

.hp-link-navigation a {
    color: #b6b6b6;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-style: italic;
}

.hp-link-navigation > span:not(:first-child) a {
    padding-left: 20px;
}

.hp-link-navigation > span:not(:last-child)::after {
    content: '>';
    color: #b6b6b6;
}

@media (min-width: 992px) {
    .hp-about-block {
        padding: 0 0 20px 0;
    }
}

.hp-faq-block {
    margin-bottom: 70px;
}

.hp-faq-block h2 {
    margin-bottom: 20px;
}

.card-header {
    background-color: #E8132A;
    border-bottom: none;
}

.card:first-child .card-header {
    -webkit-border-radius: 30px 0 0;
    -moz-border-radius: 30px 0 0;
    border-radius: 30px 0 0;
}

.card {
    border: none;
    color: #ffffff;
    margin: 5px 0;
}

.card-header {
    padding: 10px 30px;
}

.card .card-body {
    background-color: #2d3341;
    margin: 5px 0 0 0;
    padding: 40px;
}

.card-header .btn-link {
    color: #ffffff;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 1.6rem;
}

.hp-4columns-photo h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.hp-4columns-photo:not(.hp-doctors-block) {
    background-color: #2d3341;
    color: #ffffff;
    padding: 60px 30px;
}

.hp-4columns-photo:not(.hp-doctors-block) h2 {
    color: #ffffff;
}

.hp-4columns-img {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hp-services-block .hp-4columns-img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 17vmax;
}

.hp-services-block .hp-name-block {
    background: #E8132A;
}

.hp-services-block a {
    color: #ffffff;
}

.hp-services-block a:hover {
    color: #ffffff;
    text-decoration: none;
}


.hp-service-img-1 > div {
    background-image: url(assets/service1.JPG);
}

.hp-service-img-2 > div {
    background-image: url(assets/service2.JPG);
}

.hp-service-img-3 > div {
    background-image: url(assets/service3.JPG);
}

.hp-service-img-4 > div {
    background-image: url(assets/service4.JPG);
}

.hp-name-block {
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    -webkit-border-radius: 0 0 60px 0;
    -moz-border-radius: 0 0 60px 0;
    border-radius: 0 0 60px 0;
}

@media (min-width: 1400px) {
    .hp-name-block {
        font-size: 1.9rem;
        padding: 30px 20px;
    }
}

@media (max-width: 1399px) {
    .hp-name-block {
        font-size: 1.4rem;
        padding: 20px 15px;
    }
}

@media (max-width: 991px) and (min-width: 751px) {
    .hp-4columns-photo .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 750px) {
    .hp-4columns-photo {
        padding: 60px 0 !important;
    }

    .hp-4columns-photo .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }

    .hp-4columns-photo .row {
        margin: 0;
        padding: 0;
    }

    .hp-4column-img {
        height: 35vmax !important;
    }
}

.hp-help-you {
    padding: 60px 0;
}

.hp-help-you .hp-navbar-right {
    font-size: 1.4rem;
    padding: 0;
}

.hp-help-you .hp-navbar-right a {
    width: 270px;
    text-align: center;
}

.hp-about-icons i {
    color: #E8132A;
}

.hp-about-icons i {
    font-size: 6rem;
    margin-right: 15px;
    transition: all .2s ease-in-out;
}

.hp-about-icons a:hover > i {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hp-help-you h2 {
    color: #2d3341;
}

@media (min-width: 1990px) {
    .hp-help-you h2 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1850px) and (max-width: 1989px) {
    .hp-help-you h2 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1400px) and (max-width: 1660px) {
    .hp-help-you h2 {
        font-size: 3.5rem;
    }
}

.hp-help-you .nav-link:first-child {
    margin-bottom: 10px;
}

.hp-help-you .row {
    align-items: center;
    justify-content: center;
}

.hp-help-you .col-md-4 {
    justify-content: center;
    display: flex;
}

@media (max-width: 991px) {
    .hp-help-you .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hp-help-you .hp-navbar-right {
        justify-content: center !important;
        flex-direction: column;
        width: 100%;
    }

    .hp-help-you .nav-item {
        background: transparent !important;
    }
}

.hp-subscribe-block {
    padding: 60px 20px;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
}

.hp-subscribe-block h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.hp-subscribe-block input {
    color: #2d3341;
    padding: 10px 30px;
    -webkit-border-radius: 25px 0 0 0;
    -moz-border-radius: 25px 0 0 0;
    border-radius: 25px 0 0 0;
    border: none;
}

.hp-subscribe-block button {
    color: #ffffff;
    background-color: #2d3341;
    padding: .375rem 3.5rem;
    -webkit-border-radius: 0 25px 0 0;
    -moz-border-radius: 0 25px 0 0;
    border-radius: 0 25px 0 0;
    border: none;
}

.hp-subscribe-block input, .hp-subscribe-block button {
    height: 60px;
    font-size: 1.5rem;
}

input[type="text"]::-webkit-input-placeholder {
    color: #2d3341;
}

input[type="text"]::-moz-placeholder {
    color: #2d3341;
}

@media (max-width: 767px) {
    .hp-subscribe-block .input-group {
        flex-direction: column;
    }

    .hp-subscribe-block button {
        margin-top: 10px;
        max-width: 100%;
        flex: 0 0 100%;
        -webkit-border-radius: 0 0 25px 0;
        -moz-border-radius: 0 0 25px 0;
        border-radius: 0 0 25px 0;
    }
}

/* ================ MAINPAGE ===============*/
@media (min-width: 992px) {
    .hp-mainpage-slider h1 {
        font-size: 3.5rem;
    }
}

/*.hp-mainpage-slider h1 {*/
/*color: #2d3341;*/
/*}*/

.hp-mainpage-slider .hp-btn-lg {
    margin-top: 20px;
}

.hp-btn-lg {
    background: #D3132A;
    color: #ffffff;
    font-size: 1.6rem;
    padding: 10px 30px;
    -webkit-border-radius: 25px 0;
    -moz-border-radius: 25px 0;
    border-radius: 25px 0;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
}

.hp-main-services {
    padding: 60px 0;
}

.hp-main-services .row {
    justify-content: space-between;
}

.hp-main-services .col-md-6 {
    background-size: cover;
    background-position: center;
    height: 25vw;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    flex: 0 0 49%;
    max-width: 49%;
    margin-bottom: 20px;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (min-width: 992px) {
    .hp-main-services .col-md-6 {
        font-size: 4rem;
    }
}

@media (max-width: 992px) and (min-width: 729px) {
    .hp-main-services .col-md-6 {
        font-size: 2rem;
        line-height: 1;
    }
}

@media (max-width: 730px) {
    .hp-main-services .col-md-6 {
        font-size: 2.2rem;
        line-height: 1;
        flex: 0 0 100%;
        height: 30vh;
        max-width: 100%;
    }

    .hp-main-services .container, .hp-discover-block .container, .hp-feedback-block .container, .hp-service-3column .container,
    .hp-prices-block .container, .hp-simple-content .container, .hp-discover-block .col-md-4, .hp-service-3column .col-md-4, .hp-feedback-block .col-md-4 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .hp-service-3column .col-md-4 {
        margin-bottom: 20px;
    }
}

.hp-main-services .col-md-6:nth-child(1) {
    -webkit-border-radius: 90px 0 0 0;
    -moz-border-radius: 90px 0 0 0;
    border-radius: 90px 0 0 0;
}

.hp-main-services .col-md-6:nth-child(4) {
    -webkit-border-radius: 0 0 90px 0;
    -moz-border-radius: 0 0 90px 0;
    border-radius: 0 0 90px 0;
}

.hp-main-services a, .hp-service-3column a {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.hp-main-services a:hover, .hp-service-3column a:hover {
    text-decoration: none;
}

.hp-main-services div, .hp-service-3column div {
    position: relative;
    z-index: 2;
}

.hp-main-services a:after, .hp-service-3column a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
}

.hp-dental-service {
    background-image: url(assets/main-service-1.jpg);
}

.hp-cosmetology-service {
    background-image: url(assets/main-service-2.jpg);
}

.hp-travel-service {
    background-image: url(assets/main-service-4.jpg);
}

.hp-wellness-service {
    background-image: url(assets/about-page.jpg);
}

.hp-main-services a:hover:before,
.hp-main-services a:hover:after,
.hp-service-3column a:hover:before,
.hp-service-3column a:hover:after {
    opacity: 1;
}

.hp-doctors-content .hp-name-block {
    background: #2d3341;
}

.hp-doctors-content .hp-4columns-img, .hp-servicepage-dental .hp-dental-img,
.hp-4columns-photo .hp-4columns-img {
    overflow: hidden;
}

@media (min-width: 992px) {
    .hp-doctors-content .hp-4columns-img > div, .hp-4columns-photo .hp-4columns-img > div {
        height: 20vmax;
    }
}

@media (max-width: 991px) and (min-width: 601px) {
    .hp-doctors-content .hp-4columns-img > div, .hp-4columns-photo .hp-4columns-img > div {
        height: 30vmax;
    }
}

@media (max-width: 600px) {
    .hp-doctors-content .hp-4columns-img > div, .hp-4columns-photo .hp-4columns-img > div {
        height: 40vmax;
    }
}

.hp-doctors-content .hp-4columns-img > div, .hp-4columns-photo .hp-4columns-img > div {
    background-size: cover;
    background-position: center;
    width: 100%;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.hp-doctors-content. .hp-4columns-img > div {
    transition: all .5s ease-in-out;
}

.hp-doctors-content .col-md-3:hover .hp-4columns-img > div,
.hp-servicepage-dental .col-md-6:hover .hp-dental-img > div,
.hp-4columns-photo .col-md-3:hover .hp-4columns-img > div {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .5s ease-in-out;
}

.hp-4columns-img, .hp-dental-img {
    background-size: cover;
    background-position: center;
    width: 100%;
}


@media (min-width: 600px) {
    .hp-doctors-title {
        display: flex;
    }

    .hp-doctors-title h2 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 599px) {
    .hp-doctors-title {
        display: block;
    }

    .hp-doctors-title h2 {
        text-align: center !important;
        max-width: 100%;
    }
}

.hp-doctors-content .hp-name-block {
    color: #ffffff;
}

.hp-doctors-content .col-md-3:hover .hp-name-block, .hp-doctors-content .col-md-3:hover .hp-4columns-img,
.hp-servicepage-dental .col-md-6:hover .hp-dental-img, .hp-servicepage-dental .col-md-6:hover .hp-dental-description {
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4);
}

.hp-services-block .col-md-3:hover .hp-4columns-img, .hp-services-block .col-md-3:hover .hp-name-block {
    box-shadow: 3px -6px 15px rgba(0, 0, 0, 0.4);
}

.hp-services-block .col-md-3:hover .hp-name-block {
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.4);
}

.hp-doctors-title > h2:last-child {
    text-align: right;
}

.hp-doctors-title a, .hp-doctors-title a:hover {
    color: #2d3341;
    text-decoration: none;
}

.hp-doc1 > div {
    background-image: url(assets/doc1.jpg);
}

.hp-doc2 > div {
    background-image: url(assets/doc2.jpg);
}

.hp-doc3 > div {
    background-image: url(assets/doc3.jpg);
}

.hp-doc4 > div {
    background-image: url(assets/doc4.jpg);
}

.hp-doctors-block {
    padding: 60px 30px 0 30px;
}

@media (min-width: 991px) and (max-width: 1280px) {
    .hp-doctors-content .col-md-3 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
        margin-bottom: 20px;
    }

    .hp-doctors-content .hp-4columns-img {
        height: 60vmax;
    }
}

@media (min-width: 992px) {
    .hp-doctors-title i {
        font-size: 2rem;
    }
}

@media (max-width: 991px) {
    .hp-doctors-title h2 {
        font-size: 1.6rem !important;
    }
}

.hp-video-block {
    background: #2d3341;
    padding: 60px 0;
}

.hp-video-block h2 {
    color: #ffffff;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .hp-feedback-block .col-md-4 {
        margin-bottom: 30px;
    }
}

.hp-feedback-block {
    padding: 60px 0;
}

.hp-feedback-block .col-md-4:nth-child(1) .hp-feedback-text {
    -webkit-border-radius: 60px 0 0 0;
    -moz-border-radius: 60px 0 0 0;
    border-radius: 60px 0 0 0;
}

.hp-feedback-block .col-md-4:nth-child(3) .hp-feedback-text {
    -webkit-border-radius: 0 60px 0 0;
    -moz-border-radius: 0 60px 0 0;
    border-radius: 0 60px 0 0;
}

.hp-feedback-text {
    background: #D3132A;
    color: #ffffff;
    position: relative;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 1rem;
}

.hp-feedback-text > div {
    padding: 40px;
}

.hp-feedback-text::before {
    border: 50px solid transparent;
    border-top: 50px solid #D3132A;
    content: '';
    position: absolute;
    bottom: -99px;
    left: calc(50% - 50px);
}

.hp-feedback-author {
    text-align: right;
}

.hp-feedback-img {
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 60px auto 0 auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.hp-feedback-img-1 {
    background-image: url(assets/service1.JPG);
}

.hp-feedback-img-2 {
    background-image: url(assets/feedback2.jpg);
}

.hp-feedback-img-3 {
    background-image: url(assets/feedback3.jpg);
}

.hp-discover-block .col-md-4 {
    padding: 10px;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
}

@media (max-width: 991px) {
    .hp-discover-block .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .hp-discover-block .col-md-4 > div {
        height: 320px !important;
    }

}

.hp-discover-block .col-md-4:first-child > div {
    -webkit-border-radius: 60px 0 0 0;
    -moz-border-radius: 60px 0 0 0;
    border-radius: 60px 0 0 0;
}

.hp-discover-block .col-md-4:last-child > div {
    -webkit-border-radius: 0 0 60px 0;
    -moz-border-radius: 0 0 60px 0;
    border-radius: 0 0 60px 0;
}

.hp-discover-block {
    padding-bottom: 60px;
}

.hp-discover-block .col-md-4 {
    min-height: 260px;
    background-position: center;
    color: #ffffff;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 2.2rem;
    background-size: cover;
    align-items: flex-end;
    display: flex;
}

.hp-discover-block .col-md-4 > div {
    height: 100%;
    width: 100%;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.hp-discover-block .hp-discover-img > div {
    transition: all .5s ease-in-out;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    display: flex;
    padding: 15px 25px;
    background-size: cover;
    background-position: center;
}

.hp-discover-block .col-md-4:hover .hp-discover-img > div {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.hp-discover-block .col-md-4:hover .hp-discover-img {
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.5);
}

.hp-discover-img {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hp-discover-block a:hover {
    text-decoration: none;
}

.hp-food-img > div {
    background-image: url(assets/food.jpg);
}

.hp-nature-img > div {
    background-image: url(assets/nature.jpg);
}

.hp-culture-img > div {
    background-image: url(assets/culture.jpg);
}

.hp-entertainment-img > div {
    background-image: url(assets/Entertainment.jpg);
}

.hp-history-img > div {
    background-image: url(assets/main-service-4.jpg);
}

.hp-fun-img > div {
    background-image: url(assets/fun.jpg);
}

/* =========== TRAVEL PAGE ===========*/
.hp-travel-block h1 {
    color: #ffffff;
}

.hp-travel-block .container {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #ffffff;
}

.hp-travel-block .container h1, .hp-travel-block .container .hp-description {
    max-width: 635px;
}

.hp-travel-block .hp-description {
    font-style: italic;
}

.hp-smile-block {
    padding: 60px 0;
}

.hp-smile-block h2 {
    margin-bottom: 30px;
}

.hp-smile-block h3 {
    color: #D3132A;
    font-style: italic;
}

.hp-smile-block .row {
    justify-content: space-between;
}

.hp-smile-block .col-md-6 {
    -ms-flex: 0 0 49%;
    flex: 0 0 49%;
    max-width: 49%;
}

.hp-smile-block .col-md-6:nth-child(1) {
    color: #ffffff;
    background: #2d3341;
    text-align: justify;
    -webkit-border-radius: 0 90px 0 0;
    -moz-border-radius: 0 90px 0 0;
    border-radius: 0 90px 0 0;
    padding: 0;
}

.hp-smile-block .col-md-6:nth-child(2) {
    align-self: flex-end;
    flex-direction: column;
}

.hp-smile-block .col-md-6:nth-child(1) > div:not(.hp-travel-about-img) {
    padding: 50px;
}

.hp-travel-about-img, .hp-travel-form-img {
    height: 300px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.hp-travel-about-img {
    background-image: url(assets/main-service-1.jpg);
    margin: 20px 0;
}

.hp-travel-form-img {
    background-image: url(assets/smile.jpg);
    -webkit-border-radius: 0 90px 0 0;
    -moz-border-radius: 0 90px 0 0;
    border-radius: 0 90px 0 0;
}

.hp-form {
    background: #D3132A;
    padding: 30px 45px 50px 25px;
    -webkit-border-radius: 0 0 30px 0;
    -moz-border-radius: 0 0 30px 0;
    border-radius: 0 0 30px 0;
}

.hp-form h2 {
    color: #ffffff;
}

.hp-form .form-control {
    background-clip: border-box;
}

.hp-form input, .hp-form textarea {
    color: #D3132A;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 1.4rem;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
    height: 50px;
}

.hp-form textarea {
    height: 120px;
}

.hp-form .form-group:first-child input {
    -webkit-border-radius: 30px 0 0 0;
    -moz-border-radius: 30px 0 0 0;
    border-radius: 30px 0 0 0;
}

.hp-form input::-webkit-input-placeholder, .hp-form textarea::-webkit-input-placeholder {
    color: #D3132A;
}

.hp-form input::-moz-placeholder, .hp-form textarea::-moz-placeholder {
    color: #D3132A;
}

.hp-form .form-group {
    margin-bottom: 1.5rem;
}

.hp-form button {
    width: 100%;
    text-align: left;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 1.4rem;
    -webkit-border-radius: 0 0 30px 0;
    -moz-border-radius: 0 0 30px 0;
    border-radius: 0 0 30px 0;
    background: #2d3341;
    border: none;
    height: 50px;
}

.hp-form button:hover, .hp-form button:active, .hp-form button:focus, .btn-outline-secondary:hover {
    background: #141641 !important;
    border: none;
}

.hp-travel-link-navigation {
    padding: 0;
    position: relative;
}

.hp-travel-link-navigation .hp-link-navigation {
    position: absolute;
    left: 0;
}

.hp-travel-link-navigation a {
    color: #ffffff !important;
}

.hp-travel-link-navigation span:not(:last-child)::after {
    color: #ffffff !important;
}

/*======== SERVICE =============*/
.hp-service-3column {
    padding: 60px 0;
    background: #2d3341;
}

.hp-service-3column .row {
    justify-content: space-between;
}

.hp-service-3column .col-md-4 {
    height: 320px;
    background-position: center;
    color: #ffffff;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 2.2rem;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media (min-width: 600px) {
    .hp-service-3column .col-md-4 {
        max-width: 32%;
        flex: 0 0 32%;
    }

    .hp-service-3column .col-md-4:first-child {
        -webkit-border-radius: 0 0 0 100px;
        -moz-border-radius: 0 0 0 100px;
        border-radius: 0 0 0 100px;
    }

    .hp-service-3column .col-md-4:last-child {
        -webkit-border-radius: 0 100px 0 0;
        -moz-border-radius: 0 100px 0 0;
        border-radius: 0 100px 0 0;
    }
}

@media (max-width: 600px) {
    .hp-service-3column .col-md-4 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}


.hp-servicepage-img-1 {
    background-image: url(assets/servicepage1.jpg);
}

.hp-servicepage-img-2 {
    background-image: url(assets/servicepage2.jpg);
}

.hp-servicepage-img-3 {
    background-image: url(assets/servicepage3.jpg);
}

.hp-servicepage-about-img {
    background-image: url(assets/servicepage1.jpg) !important;
}

.hp-service-slider h3 {
    font-size: 1.5rem;
}

.hp-servicepage-dental {
    padding: 60px 0;
}

.hp-servicepage-dental .col-md-6 {
    margin-bottom: 30px;
}

.hp-dental-img > div {
    height: 320px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.hp-servicepage-dental .col-md-6:last-child .hp-dental-description {
    -webkit-border-radius: 0 0 90px 0;
    -moz-border-radius: 0 0 90px 0;
    border-radius: 0 0 90px 0;
}

.hp-dental-img-1 {
    -webkit-border-radius: 90px 0 0 0;
    -moz-border-radius: 90px 0 0 0;
    border-radius: 90px 0 0 0;
}

.hp-dental-img-1 > div {
    background-image: url(assets/dental1.JPG);
}

.hp-dental-img-2 > div {
    background-image: url(assets/dental2.jpg);
}

.hp-dental-img-3 > div {
    background-image: url(assets/dental3.jpg);
}

.hp-dental-img-4 > div {
    background-image: url(assets/smile.jpg);
}

.hp-dental-description {
    background: #2d3341;
    padding: 25px 25px 40px 25px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.hp-dental-description div:nth-child(1) {
    width: 63%;
    flex: 0 0 63%;
    max-width: 63%;
}

.hp-dental-icon {
    background-repeat: no-repeat;
    width: 35%;
    flex: 0 0 35%;
    max-width: 35%;
    background-position: right;
}

.hp-crowns-icon {
    background-image: url("assets/crowns.svg");
}

.hp-implants-icon {
    background-image: url("assets/implants.svg");
}

.hp-prices-block {
    background: #2d3341;
    padding: 60px 0;
    color: #ffffff;
    margin-top: 60px;
}

.hp-prices-block .row {
    justify-content: space-between;
}

.hp-prices-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    flex: 0 0 100%;
    max-width: 100%;
    background-image: url("assets/about-page.jpg");
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-border-radius: 0 60px 0 0;
    -moz-border-radius: 0 60px 0 0;
    border-radius: 0 60px 0 0;
}

.hp-prices-block h2 {
    margin-bottom: 10px;
    margin-left: -15px;
}

.hp-prices-block .hp-prices-list {
    background-color: #D3132A;
    padding: 40px;
    -webkit-border-radius: 0 0 0 60px;
    -moz-border-radius: 0 0 0 60px;
    border-radius: 0 0 0 60px;
}

.hp-prices-list small {
    font-family: 'Open Sans', sans-serif;
    padding-right: 15px;
}

.hp-prices-list li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hp-prices-list li span:last-child {
    padding-left: 10px;
}

.hp-prices-block-2 .hp-prices-list {
    background-color: #2d3341;
    padding: 40px;
    -webkit-border-radius: 0 60px 0 60px;
    -moz-border-radius: 0 60px 0 60px;
    border-radius: 0 60px 0 60px;
    color: #ffffff;
}

.hp-showmore-link2 {
    justify-content: flex-end;
    display: flex;
    padding: 0;
}

.hp-showmore-link2 > div {
    background-color: #D3132A;
    padding: 10px 50px;
    -webkit-border-radius: 0 0 0 30px;
    -moz-border-radius: 0 0 0 30px;
    border-radius: 0 0 0 30px;
}

.hp-showmore-link2 h3 {
    font-size: 1rem;
}

.hp-showmore-link2 a {
    color: #ffffff;
    text-decoration: none;
}

.hp-prices-list ul {
    padding: 0;
    list-style: none;
    font-family: 'Merriweather-Ultra-Bold', sans-serif;
    font-size: 1rem;
}

.hp-prices-list li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.hp-showmore-link {
    color: #D3132A;
    text-align: right;
    margin-top: 25px;
    padding: 0;
    margin-right: -15px;
}

.hp-showmore-link a, .hp-showmore-link a:active, .hp-showmore-link a:hover {
    color: #D3132A;
}

.hp-simple-content .col-md-6:first-child {
    -webkit-border-radius: 0 0 0 60px;
    -moz-border-radius: 0 0 0 60px;
    border-radius: 0 0 0 60px;
    padding: 40px 40px 130px 40px !important;
    text-align: justify;
}

.hp-service-about h2 {
    color: #2d3341 !important;
    font-size: 2.5rem !important;
}

.hp-servicepage-about-img, .hp-about-img {
    -webkit-border-radius: 0 60px 0 0;
    -moz-border-radius: 0 60px 0 0;
    border-radius: 0 60px 0 0;
}

.hp-modal-content {
    border-radius: 0;
    background: transparent;
}

.hp-modal-content .modal-body {
    padding: 0;
}

@media (min-width: 730px) {
    .hp-modal-content .hp-form {
        padding: 55px;
        -webkit-border-radius: 0 0 80px 0;
        -moz-border-radius: 0 0 80px 0;
        border-radius: 0 0 80px 0;
    }
}

@media (max-width: 729px) {
    .hp-modal-content .hp-form {
        padding: 20px;
        -webkit-border-radius: 0 0 50px 0;
        -moz-border-radius: 0 0 50px 0;
        border-radius: 0 0 50px 0;
    }
}

.hp-custom-select {
    background: transparent;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    width: 70px;
}

.hp-custom-select option {
    background: #e7eaeb;
}

.btn.dropdown-toggle {
    background: transparent;
    border: none;
    width: auto !important;
    color: #D3132A;
}

.dropdown.bootstrap-select {
    width: 70px !important;
    background: transparent;
    border-radius: 0;
    display: flex !important;
    margin-left: 10px !important;
}

.btn.dropdown-toggle.btn-light {
    background: transparent;
    border: none;
}

.hp-custom-select .dropdown-item.active, .dropdown-item:active {
    background-color: #D3132A;
}

.hp-custom-select .btn.dropdown-toggle:focus, .hp-custom-select .btn.dropdown-toggle:active, .hp-custom-select .btn.dropdown-toggle:hover {
    outline: none !important;
    box-shadow: none !important;
    outline-color: transparent;
}

.hp-content {
    padding: 60px 0;
}

.hp-content h1 {
    color: #2d3341;
    font-size: 3rem;
}

.hp-content p {
    text-align: justify;
    font-size: 1.1rem;
}

.hp-contact-us {
    padding: 60px 0;
    background-color: #2d3341;
}


.hp-contact-us h2 {
    color: #ffffff;
}

.hp-contact-us-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hp-contact-us-comment textarea {
    height: 190px;
}

@media (min-width: 992px) {
    .hp-contact-us .col-md-6 .form-group:last-child {
        margin-bottom: 0;
    }

    .hp-contact-us .hp-form {
        padding: 40px !important;
    }
}

@media (max-width: 991px) {
    .hp-contact-us .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .hp-contact-us .hp-form {
        padding: 20px 0 !important;
    }
}

.hp-prices-block-2 {
    padding: 60px 0;
}

@media (min-width: 700px) {
    .hp-desktop-map {
        display: block;
    }

    .hp-mobile-map {
        display: none;
    }
}

@media (max-width: 699px) {
    .hp-desktop-map {
        display: none;
    }

    .hp-mobile-map {
        display: block;
    }
}

.hp-carousel-img {
    background-size: cover;
    background-position: center center;
}

.hp-carousel-img-1 {
    background-image: url("assets/travel.jpg");
}

.hp-carousel-img-2 {
    background-image: url("assets/travel2.jpg");
}

.hp-rounded-image {
    border-radius: 0 60px 0 60px;
    -moz-border-radius: 0 60px 0 60px;
    -webkit-border-radius: 0 60px 0 60px;
}
